@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Manrope', sans-serif;
}
 
.button {
    @apply inline-block p-2 bg-orange-300 text-white hover:bg-orange-500 transition;
}

header {
    font-family: 'Manrope', sans-serif;
    text-transform: uppercase;
}