<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400&display=swap" rel="stylesheet">

    <!-- Adobe Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/chz2pzd.css">

    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="{{ '/dist/main.css' | relative_url }}">
</head>

<header>
    {% if site.data.site-settings.alert_banner.display %}
    <div class="grid grid-cols-1 p-2 bg-orange-300 uppercase text-white">
        <p class="text-center">{{site.data.site-settings.alert_banner.alert_message}}</p>
    </div>
    {% endif %}
    <div class="col-span-full m-auto">
        <img src="/images/logo-ecommerce.png" class="object-center object-cover m-auto p-4">
    </div>
    <nav class="flex justify-around hover:orange-300 mb-2">
        <a href="/">Home</a>
        <a href="/">Ebooks</a>
        <a href="/">Presets</a>
    </nav>
</header>

<body>
    {{content}}

    {% include shopify.html %}
        <!-- Add jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- Slick slider JS -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    
    
        <!-- Custom javascript style -->
        <script src="/javascript/script.js"></script>
</body>

</html>