<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/dist/main.css' | relative_url }}">
    <title>{{page.title}}</title>
</head>

<header>
    {% if site.data.site-settings.alert_banner.display %}
    <div class="grid grid-cols-1 p-2 bg-slate-500 uppercase text-white">
        <p class="text-center">{{site.data.site-settings.alert_banner.alert_message}}</p>
    </div>
    {% endif %}
    <nav>
        <a href="/">Home</a>
        <a href="/">Ebooks</a>
        <a href="/">Presets</a>
    </nav>
</header>

<body>
    {{content}}
</body>

</html>