---
layout: default
---
{{content}}

<section class="p-5">
	<h4 class="mb-8">Related Products</h4>
	<div class="grid grid-cols-3 gap-4">

		{% assign pageCategory = page.category %}
        {% assign similarProducts = site.products | where: 'category', pageCategory %}
		{% assign relevant = similarProducts | where_exp:"product","product.url != page.url" %}
  		{% for item in relevant limit:3 %}

      		<a href="{{item.url}}">
        		<div class="bg-contain bg-center min-h-screen" style="background-image:url({{item.featured_image}})"> </div>
        		<h3> {{item.title}} </h3>
      		</a>
      		
  		{% endfor %}
  		
	</div>
</section>